<!-- subjects section starts  -->
<section class="subjects services " id="services">
   <h1 class="heading"><br><span> Maestro: </span><br> {{user.name}}</h1>


   <div class="box-container2">
      <div class="box-container">
         <a href="/info/{{user._id}}" class="box">
            <i class="fas fa-user fa-5x"></i>
            <h3>Datos Personales</h3>
         </a>


         <a href="/dato/Academic" class="box">
            <i class="fas fa-book fa-5x"></i>
            <h3>Datos Academicos</h3>
         </a>


         <a href="/dato/Experience" class="box">
            <i class="fas fa-copy fa-5x"></i>
            <h3>Experiencia Lavoral</h3>
         </a>


         <a href="/actividades/agregarTipo" class="box">
            <i class="fas fa-file-medical fa-5x"></i>
            <h3>Agregar Actividad</h3>
         </a>

         <a href="/imp" class="box">
            <i class="fas fa-file-export fa-5x"></i>
            <h3>Imprimir Reportes</h3>
         </a>

      </div>

   </div>

</section>
<!-- subjects section end -->