<!-- subjects section starts  -->
<section class="subjects services " id="services">
    <h1 class="heading"><br><span> Administrador: </span><br> {{user.name}}</h1>

        <div class="box-container">

            <a href="/info/{{user._id}}" class="box">
                <i class="fas fa-user fa-5x"></i>
                <h3>Datos Personales</h3>
            </a>

            <a href="/lista" class="box">
                <i class="fas fa-file-medical fa-5x"></i>
                <h3>Ver Personal</h3>
            </a>

             <a href="/users/signup"  class="box">
                <i class="fas fa-file-medical fa-5x"></i>
                <h3>Registrar Nuevo</h3>
            </a>

        </div>

</section>
<!-- subjects section end -->