<section class="gallery services" id="gallery">

    <h1 class="heading">Selección<span> de personal</span> </h1>

    <div class="container centrado">
        <a href="/rol" class="btn centrado">Volver</a>
    </div><br>

    <div class="box-container">

        <div class="box">
            <img src="/img/utna.jpg" alt="">
            <div class="content">
                <h3>Directores</h3>
                <a href="/lista/directores" class="btn btn-warning btn-block m-3">Ver</a>

            </div>
        </div>

        <div class="box">
            <img src="/img/utna.jpg" alt="">
            <div class="content">
                <h3>Maestros</h3>
                <a href="/lista/maestros" class="btn btn-info btn-block m-3">Ver</a>
            </div>
        </div>

    </div>
    <br>

    <div class="box-container">
        <section class="centrado">
            <div class="boxSel">
                <h1 class="heading"><span>Generar </span>reporte </h1>
                <form action="/generar" method="POST">

                    <div class="box-container">
                        <div class="">

                            <label class="">
                                <input class="Reportes" type="radio" name="tipo" id="derivar" value="Director"
                                    onclick="deshabilita()">
                                <h1><strong>Director</strong></h1>
                                <select name="direccion" id="derivado_usuario" disabled>
                                    <option selected>Seleccionar dirección</option>
                                    <option value="ASP">DIRECCIÓN DE NEGOCIOS ÁREA MERCADOTECNIA Y AGRICULTURA SUSTENTABLE Y PROTEGIDA</option>
                                    <option value="TIC">DIRECCIÓN ACÁDEMICA DE TECNOLOGÍAS DE LA INFORMACIÓN Y MECATRÓNICA</option>
                                    <option value="MI">DIRECCIÓN ACADÉMICA ÁREA INDUSTRIAL</option>
                                    <option value="ARH">DIRECCIÓN ACADÉMICA - ADMINISTRACIÓN ÁREA RECURSOS HUMANOS Y CONTADURÍA</option>
                                </select>
                            </label>
                        </div>



                        <div class="">
                            <label class="">
                                <input class="Reportes" type="radio" name="tipo" id="derivar2" value="Maestro"
                                    onclick="deshabilita()">
                                <h1><strong>Maestros</strong></h1>
                                <select name="direccion" id="derivado_usuario2" disabled>
                                    <option selected>Seleccionar dirección</option>
                                    <option value="DNM">Desarrollo de Negocios Mercadotecnia (DNM)</option>
                                    <option value="ASP">Agricultura Sustentable y Protegida (ASP)</option>
                                    <option value="IDIE">Desarrollo Negocios Area Logística (IDIE)</option>
                                    <option value="TIC">Tecnologías de la Información(TIC)</option>
                                    <option value="MTAUT">Mecatrónica Area Manufactura Aromatizada (MTAUT)</option>
                                    <option value="MTSMF">Mecatrónica Area Flexible (MTSMF)</option>
                                    <option value="IMT">Ingeniería en mecatrónica (IMT)</option>
                                    <option value="MI">Mantenimiento Area Industrial (MI)</option>
                                    <option value="PIM">Procesos industriales Manufactura (PIM)</option>
                                    <option value="ISP">Ingeniería Sistemas productivos (ISP)</option>
                                    <option value="MEA">Mecánica automotriz (MEA)</option>
                                    <option value="ARH">Administración Recursos Humanos (ARH)</option>
                                    <option value="CON">Programa de Contaduría (CON)</option>
                                    <option value="IFF">Programa de Ingeniería Fiscal (IFF)</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <br>
                    <div>
                        <button class="btn">
                            Buscar
                        </button>
                    </div>
                    <br>
                </form>
            </div>

        </section>

    </div>

</section>
<!-- gallery section ends -->
<script>
    function deshabilita() {
        if (document.getElementById('derivar').checked) {
            document.getElementById('derivado_usuario').disabled = false;
        }
        else {
            document.getElementById('derivado_usuario').disabled = true;
        }
        if (document.getElementById('derivar2').checked) {
            document.getElementById('derivado_usuario2').disabled = false;
        }
        else {
            document.getElementById('derivado_usuario2').disabled = true;
        }
    }
</script>