<section class="gallery services" id="gallery">
    <h1 class="heading">Seleccion<span> de personal</span> </h1>
    <div class="box-container">
        <div class="box">
            <img src="/img/utna.jpg" alt="">
            <div class="content">
                <h3>Directores</h3>
                <a href="/lista/directores" class="btn btn-warning btn-block m-3">Ver</a>

            </div>
        </div>

        <div class="box">
            <img src="/img/utna.jpg" alt="">
            <div class="content">
                <h3>Maestros</h3>
                <a href="/lista/maestros" class="btn btn-info btn-block m-3">Ver</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container centrado">
        <a href="/rol" class="btn centrado">Volver</a>
    </div>
</section>
<br>
<!-- gallery section ends -->