
<section class="gallery services" id="gallery">
    <h1 class="heading">Selecciónar<span> Tipo</span> </h1>
    <div class="box-container">
        <div class="box">
            <img src="/img/utna.jpg" alt="">
            <div class="content">
                <h3>Capacitacion Actualizada</h3>
                <a href="/actividades/capacitacion" class="btn btn-warning btn-block m-3">Ver</a>
            </div>
        </div>

        <div class="box">
            <img src="/img/utna.jpg" alt="">
            <div class="content">
                <h3>Actividades</h3>
                <a href="/actividades/agregarTipo" class="btn btn-info btn-block m-3">Ver</a>
            </div>
        </div>

        <div class="box">
            <img src="/img/utna.jpg" alt="">
            <div class="content">
                <h3>Participante en Eventos</h3>
                <a href="/actividades/Participar" class="btn btn-info btn-block m-3">Ver</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container centrado">
        <a href="/rol" class="btn centrado">Volver</a>
    </div>
</section>
<br>
<!-- gallery section ends -->








