<!-- gallery section starts  -->
<section class="gallery2 services2" id="gallery2">
    <h1 class="heading">Seleccionar <span>Tipo</span> </h1>
    <div class="box-container">

        <div class="contenedor">
            <div class="box">
               <img src="/img/sistema.png" alt="">
                <h1 class="centrado2"><strong>Artículo</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/articulo">
                        <abbr title="Agregar"><i class="fas fa-file-medical fa-5x"></i></abbr>
                        <h3>Artículo</h3>
                    </a>
                    <a href="/actividades/articulos">
                        <abbr title="Ver"><i class="fas fa-eye fa-5x"></i></abbr>
                    </a>
                </div>
            </div>
        </div>


        <div class="contenedor">
            <div class="box">
                <img src="/img/sistema.png" alt="">
                <h1 class="centrado2"><strong>Libro</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/libro">
                        <abbr title="Agregar"><i class="fas fa-file-medical fa-5x"></i></abbr>
                        <h3>Libro</h3>
                    </a>
                    <a href="/actividades/libros">
                        <abbr title="Ver"><i class="fas fa-eye fa-5x"></i></abbr>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/sistema.png" alt="">
                <h1 class="centrado2"><strong>Capítulo</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/CapituloLibro">
                        <abbr title="Agregar"><i class="fas fa-file-medical fa-5x"></i></abbr>
                        <h3>Capítulo Libro</h3>
                    </a>
                    <a href="/actividades/capitulos">
                        <abbr title="Ver"><i class="fas fa-eye fa-5x"></i></abbr>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/sistema.png" alt="">
                <h1 class="centrado2"><strong>Reportes</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/ReportesTecnicos">
                        <abbr title="Agregar"><i class="fas fa-file-medical fa-5x"></i></abbr>
                        <h3>Reportes Técnicos</h3>
                    </a>
                    <a href="/actividades/reportes">
                        <abbr title="Ver"><i class="fas fa-eye fa-5x"></i></abbr>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/sistema.png" alt="">
                <h1 class="centrado2"><strong>Memorias</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/memoria">
                        <abbr title="Agregar"><i class="fas fa-file-medical fa-5x"></i></abbr>
                        <h3>Memorias</h3>
                    </a>
                    <a href="/actividades/memorias">
                        <abbr title="Ver"><i class="fas fa-eye fa-5x"></i></abbr>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/sistema.png" alt="">
                <h1 class="centrado2"><strong>Congreso</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/congreso">
                        <abbr title="Agregar"><i class="fas fa-file-medical fa-5x"></i></abbr>
                        <h3>Congreso</h3>
                    </a>
                    <a href="/actividades/congresos">
                        <abbr title="Ver"><i class="fas fa-eye fa-5x"></i></abbr>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/sistema.png" alt="">
                <h1 class="centrado2"><strong>Patentes</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/patente">
                        <abbr title="Agregar"><i class="fas fa-file-medical fa-5x"></i></abbr>
                        <h3>Patentes</h3>
                    </a>
                    <a href="/actividades/patentes">
                        <abbr title="Ver"><i class="fas fa-eye fa-5x"></i></abbr>
                    </a>
                </div>
            </div>
        </div>
            
 <!--     <div class="contenedor">
            <div class="box">
                <img src="/img/sistema.png" alt="">
                <h1 class="centrado2"><strong>Cursos</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/curso">
                        <abbr title="Agregar"><i class="fas fa-file-medical fa-5x"></i></abbr>
                        <h3>Cursos</h3>
                    </a>
                    <a href="/actividades/cursos">
                        <abbr title="Ver"><i class="fas fa-eye fa-5x"></i></abbr>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/sistema.png" alt="">
                <h1 class="centrado2"><strong>Diplomado</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/diplomado">
                        <abbr title="Agregar"><i class="fas fa-file-medical fa-5x"></i></abbr>
                        <h3>Diplomado</h3>
                    </a>
                    <a href="/actividades/diplomados">
                        <abbr title="Ver"><i class="fas fa-eye fa-5x"></i></abbr>
                    </a>
                </div>
            </div>
        </div>
    -->

    </div>
    <br>
    <br>
              <div class="container centrado">
               <a href="javascript:history.back()" class="btn">Volver</a>
             </div>
</section>
           
<!-- gallery section ends -->