<!-- gallery section starts  -->
<section class="gallery2 services2" id="gallery2">
    <h1 class="heading">Seleccionar <span>Tipo</span> </h1>
    <div class="box-container">

        <div class="contenedor">
            <div class="box">
                <img src="/img/utnafont.jpg" alt="">
                <h1 class="centrado2"><strong>Articulo</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/articulo">
                        <i class="fas fa-file-medical fa-5x"></i>
                        <h3>Articulo</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/utnafont.jpg" alt="">
                <h1 class="centrado2"><strong>Libro</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/libro">
                        <i class="fas fa-file-medical fa-5x"></i>
                        <h3>Libro</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/utnafont.jpg" alt="">
                <h1 class="centrado2"><strong>Capitulo Libro</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/CapituloLibro">
                        <i class="fas fa-file-medical fa-5x"></i>
                        <h3>Capitulo Libro</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/utnafont.jpg" alt="">
                <h1 class="centrado2"><strong>Reportes Tecnicos</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/ReportesTecnicos">
                        <i class="fas fa-file-medical fa-5x"></i>
                        <h3>Reportes Tecnicos</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/utnafont.jpg" alt="">
                <h1 class="centrado2"><strong>Memorias</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/memorias">
                        <i class="fas fa-file-medical fa-5x"></i>
                        <h3>Memorias</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/utnafont.jpg" alt="">
                <h1 class="centrado2"><strong>Congreso</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/congreso">
                        <i class="fas fa-file-medical fa-5x"></i>
                        <h3>Congreso</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/utnafont.jpg" alt="">
                <h1 class="centrado2"><strong>Cursos</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/curso">
                        <i class="fas fa-file-medical fa-5x"></i>
                        <h3>Cursos</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/utnafont.jpg" alt="">
                <h1 class="centrado2"><strong>Diplomado</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/diplomado">
                        <i class="fas fa-file-medical fa-5x"></i>
                        <h3>Diplomado</h3>
                    </a>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="box">
                <img src="/img/utnafont.jpg" alt="">
                <h1 class="centrado2"><strong>Patentes</strong></h1>
                <div class="content centrado">
                    <a href="/actividades/patentes">
                        <i class="fas fa-file-medical fa-5x"></i>
                        <h3>Patentes</h3>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- gallery section ends -->