<!-- services section starts  -->
<section class="services" id="services">

    <h1 class="heading">Nuevo<span> Artículo</span> </h1>

    <div class="box-container">
        <section class="centrado">
            <div class="box">
                <form action="/actividades/newArticulo" method="POST" enctype="multipart/form-data">
                    <h3>del Mtro. {{user.name}}</h3>

                    <h2><strong> ISSN:</strong></h2>
                    <input type="text" class="box" name="issn">

                    <h2><strong> DOI:</strong></h2>
                    <input type="text" class="box" name="doi">

                    <h2><strong> Nombre del artículo:</strong></h2>
                    <input type="text" class="box" name="titulo" required>

                    <h2> <strong> Nombre revista:</strong></h2>
                    <input type="text" class="box" name="nom_revista" required>

                    <h2><strong> Título del artículo:</strong></h2>
                    <input type="text" class="box" name="titulo_revista" required>

                    <h2><strong> Año de publicación:</strong></h2>
                    <input type="date" class="box" name="fecha_publicacion" required>

                    <h2><strong> Área:</strong></h2>
                    <input type="text" class="box" name="area" required>

                    <h2><strong>Rol:</strong></h2>
                    <select value="rol" name="rol">
                        <option value="">Selecciona una opción</option>
                        <option value="Principal" label="Principal">Principal</option>
                        <option value="Co-tutor" label="Co-tutor">Co-tutor</option>
                        <option value="Participante" label="Participante">Participante</option>
                    </select>
                    
                     <h2 style="color: rgb(88, 151, 88);">Cargar Archivo (Opcional) </h2>
                    <input type="file" name="image" class="box">
                        
                    <div>
                        <button class="btn">
                            Guardar
                        </button>
                        <a href="javascript:history.back()" class="btn">Volver</a>
                    </div>
                </form>
            </div>
        </section>
    </div>

</section>
<!-- services section ends -->