<!-- services section starts  -->
<section class="services" id="services">

    <h1 class="heading">Nuevo<span> Reporte Tecnico</span> </h1>

    <div class="box-container">
        <section class="centrado">
            <div class="box">
                <form action="/actividades/newreporteTec" method="POST" enctype="multipart/form-data">
                    <h3>del Mtro. {{user.name}}</h3>

                    <h2><strong>Titulo:</strong></h2>
                    <input type="text" class="box" name="titulo" required>

                    <h2><strong> Empresa o institucion:</strong></h2>
                    <input type="text" class="box" name="empresa" required>

                    <h2><strong> Fecha de entrega:</strong></h2>
                    <input type="date" class="box" name="fecha_entrega" required>

                    <h2><strong> Descipcion:</strong></h2>
                    <input type="text" class="box" name="descripcion" required>

                    <h2><strong> Objetivos:</strong></h2>
                    <input type="text" class="box" name="objetivos" required>

                    <h2 style="color: rgb(88, 151, 88);">Cargar Archivo (Opcional) </h2>
                    <input type="file" name="image" class="box">

                    <div>
                        <button class="btn">
                            Guardar
                        </button>
                        <a href="javascript:history.back()" class="btn">Volver</a>
                    </div>
                </form>
            </div>
        </section>
    </div>

</section>
<!-- services section ends -->