<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam soluta ducimus nisi! Animi neque veritatis eveniet, consectetur fuga accusamus incidunt laborum, placeat expedita commodi consequuntur iste optio modi necessitatibus quae?</p>
    </div>
</section>