<section class="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">

            <section class="swiper-slide slide" style="background: url(/img/Portada.jpeg) no-repeat;">
                <div class="content">
                    <h3>Sistema de Currículum Único para docentes UTNA</h3>
                    
                </div>
            </section>

        </div>
    </div>
</section>