<section class="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">

            <section class="swiper-slide slide" style="background: url(/img/home-slide-1.jpg) no-repeat;">
                <div class="content">
                    <h3>Sistema de Curriculum Único para docentes UTNA</h3>
                    <a href="#" class="btn">get started</a>
                </div>
            </section>

        </div>
    </div>
</section>