{{#if error}}
<section class="login__modal">
    <div class="login__bg">
        <div class="login__modal-content">
            <i class="fas fa-times login__modal-close"></i>

            <div class="login__container">
                <h1 class="footer__titlee">Aviso3</h1>
                <ul class="services__modal-services grid">
                    <li class="services__modal-service">
                        <i class="fa fa-user-times services__modal-icon"></i>
                        <p class="login__description">
                            {{error}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{/if}}

{{#each errors}}
<section class="login__modal">
    <div class="login__bg">
        <div class="login__modal-content">
            <i class="fas fa-times login__modal-close"></i>

            <div class="login__container ">
                <h2 class="footer__titlee">Aviso4</h2>
                <p class="login__description">
                    {{text}}
                </p>
            </div>
        </div>
    </div>
</section>
{{/each}}