{{#if success_msg}}
<section class="login__modal">
    <div class="login__bg">
        <div class="login__modal-content">
            <i class="fas fa-times login__modal-close"></i>

            <div class="login__container">
                <h1 class="footer__titlee">Aviso</h1>
                <ul class="services__modal-services grid">
                    <li class="services__modal-service">
                        <i class="fa fa-check-circle services__modal-icon"></i>
                        <p class="login__description">
                            {{success_msg}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{/if}}

{{#if error_msg}}
<section class="login__modal">
    <div class="login__bg">
        <div class="login__modal-content">
            <i class="fas fa-times login__modal-close"></i>

            <div class="login__container">
                <h4 class="footer__titlee">Aviso</h4>
                <ul class="services__modal-services grid">
                    <li class="services__modal-service">
                        <i class="fa fa-exclamation-triangle services__modal-icon"></i>
                        <p class="login__description">
                            {{error_msg}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{/if}}