<!-- header section starts  -->
<header class="header">
    <a href="/" class="logo"><i class="fas fa-address-card"></i> UTNA</a>

    <div class="icons">
        <div class="fas fa-moon" id="theme-btn"></div>
        <div class="fas fa-palette" id="color-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
        {{#if user}}
        {{else}}
        <div class="fas fa-user" id="account-btn"></div>
        {{/if}}
    </div>

    <nav class="navbar">
        {{#if user}}
        <a href="/rol">Inicio</a>
        <a href="/users/logout">Cerrar sesión</a>
        {{else}}
        <div class="icons">
            <a href="/">Debes iniciar sesión para ver las opciones</a>
        </div>
        {{/if}}
    </nav>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="colors-palette">
        <h3>UTNA Colores</h3>
        <div class="colors">
            <div class="color" style="background:#1A5276"></div>
            <div class="color" style="background: #2980b9;"></div>
            <div class="color" style="background: #C0392B ;"></div>
            <div class="color" style="background: #F1C40F;"></div>
            <div class="color" style="background: #B33771;"></div>
            <div class="color" style="background: #196F3D;"></div>
            <div class="color" style="background: #ff9f1a;"></div>
            <div class="color" style="background: #e84393;"></div>
            <div class="color" style="background: #808B96;"></div>
        </div>
    </div>
</header>
<!-- header section end  -->

<!-- LOGIN  -->
<div class="account-form">
    <div id="close-form" class="fas fa-times"></div>
    <div class="buttons">
        <span class="btn active login-btn">Iniciar sesión</span>
    </div>

    <form class="login-form active" action="/users/signin" method="POST">
        <h3>Ingresar ahora</h3>
        <input type="email" placeholder="Ingresa tu E-mail" class="box" name="email">
        <input type="password" placeholder="Ingresa tu password" class="box" name="password">
        <div class="flex">
        </div>
        <input type="submit" value="Ingresar ahora" class="btn">
    </form>

</div>
<!-- Login ends -->
