<!-- subjects section starts  -->
<section class="subjects services " id="services">
    <h1 class="heading"><br><span> Director: </span><br> {{user.name}}</h1>


    <div class="box-container2">
        <div class="box-container">
            <a href="/info/{{user._id}}" class="box">
                <i class="fas fa-user fa-5x"></i>
                <h3>Datos personales</h3>
            </a>


            <a href="/dato/Academic" class="box">
                <i class="fas fa-book fa-5x"></i>
                <h3>Datos académicos</h3>
            </a>


            <a href="/dato/Experience" class="box">
                <i class="fas fa-copy fa-5x"></i>
                <h3>Experiencia laboral</h3>
            </a>

            <a href="/imp" class="box">
                <i class="fas fa-file-export fa-5x"></i>
                <h3>Imprimir reportes</h3>
            </a>

           
           <a href="/actividades/NuevasActividades" class="box">
             <i class="fas fa-file-medical fa-5x"></i>
             <h3>Agregar actividades</h3>
           </a>

            <a href="/personal" class="box">
                <i class="fas fa-users fa-5x"></i>
                <h3>Ver maestros</h3>
            </a>

        </div>

    </div>

</section>
<!-- subjects section end -->