<section class="contact services">
    <h1 class="heading">Grados<span> Academicos</span> </h1>

    <div class="box-container">

        <section class="centrado">

            <div class="box">

                <form action="/notes/newacademico" method="POST">
                    <h3>Datos Academicos</h3>
                    <h3>del Mtro. {{user.name}}</h3>

                    <h2><strong>Selecciona una opción:</strong></h2>
                    <select value="tipo" value="{{tipo}}" name="tipo">
                        <option value="">Selecciona una opción</option>
                        <option value="Licenciatura" label="Licenciatura">Licenciatura</option>
                        <option value="Especialidad" label="Especialidad">Especialidad</option>
                        <option value="Maestría" label="Maestría">Maestría</option>
                        <option value="Doctorado" label="Doctorado">Doctorado</option>
                        <option value="Pos Doctorado" label="Pos Doctorado">Pos Doctorado</option>
                    </select>

                    <h2><strong> Nombre de la Carrera:</strong></h2>
                    <input type="text" class="box" name="carrera" required>

                    <h2><strong> Nombre de la Institución:</strong></h2>
                    <input type="text" class="box" name="institucion" required>

                    <h2><strong> Fecha de inicio:</strong></h2>
                    <input type="date" class="box" name="fecha_inicio" required>

                    <h2> <strong>Fecha de Termino:</strong></h2>
                    <input type="date" class="box" name="fecha_termino" required>

                    <h2> <strong>Pais / Estado:</strong></h2>
                    <input type="text" class="box" name="pais" required>

                    <div>
                        <button class="btn">
                            Guardar
                        </button>
                        <a href="javascript:history.back()" class="btn">Volver</a>

                    </div>
                </form>

            </div>

        </section>

    </div>

</section>