<br>
<br>
<br>
<br>
<!-- contact section starts  -->
<section class="contact">
    <br>
    <h1 class="heading"><span> Editar Foto</span> </h1>
    <div class="icons-container">
        <div class="icons">
            <i class="fas fa-user fa-5x"></i>
            <div class="container p-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header centrado">
                                <h3 class="text-center" >Foto de perfil</h3>
                            </div>
                            <div class="card-body">
                                <form action="/upload" method="POST" enctype="multipart/form-data">
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <input type="file" name="image" class="custom-file-input"
                                                id="inputGroupFile02">
                                            <label class="custom-file-label" for="inputGroupFile02"
                                                aria-describedby="inputGroupFileAddon02">Seleccionar</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block">
                                            Cargar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- contact section ends -->





<h1 class="heading"><span> Edit </span> </h1>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Foto de perfil</h3>
                </div>
                <div class="card-body">
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                                <label class="custom-file-label" for="inputGroupFile02"
                                    aria-describedby="inputGroupFileAddon02">Seleccionar</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Cargar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>