<section class="contact services">
    <h1 class="heading">Registrar<span> Nuevo Usuario</span> </h1>

    <div class="box-container">

        <section class="centrado">

            <div class="box">

                <form action="/users/signup" method="POST">


                    <input type="text" class="box" name="name" placeholder="Nombre">
                    <input type="email" class="box" name="email" placeholder="E-mail">
                    <input type="password" class="box" name="password" placeholder="Constraseña">
                    <input type="password" class="box" name="confirm_password" placeholder="Confirmar Constraseña"> <br>

                    <select name="rango">
                        <option selected>Seleccionar el rango:</option>
                        <option value="Maestro">Maestro</option>
                        <option value="Director">Director</option>
                    </select>

                    <select name="nivelA">
                        <option selected>Seleccionar el nivel académico:</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>

                    <select name="nivelI">
                        <option selected>Seleccionar el nivel investigación:</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>

                    <div class="direccion grid">
                        
                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="DNM">
                        <strong>Desarrollo de Negocios Mercadotecnia(DNM)</strong>
                    </label>
                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="ASP">
                        <strong> Agricultura Sustentable y Protegida(ASP)</strong>
                    </label>
                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="IDIE">
                        <strong>Desarrollo Negocios Area Logistica(IDIE)</strong>
                    </label>


                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="TIC">
                        <strong> Tecnologias de la Informacion(TIC)</strong>
                    </label>
                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="MTAUT">
                        <strong>Mecatronica Area Manufactura Atomatizada(MTAUT)</strong>
                    </label>
                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="MTSMF">
                        <strong>Mecatronica Area Flexible(MTSMF)</strong>
                    </label>

                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="IMT">
                        <strong>Ingeneria en mecatronica(IMT)</strong>
                    </label>
                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="MI">
                        <strong>Mantenimiento Area Industrial(MI)</strong>
                    </label>
                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="PIM">
                        <strong>Procesos industriales Manufactura(PIM)</strong>
                    </label>

                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="ISP">
                        <strong>Ingeneria Sistemas productivos(ISP)</strong>
                    </label>
                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="MEA">
                        <strong>Mecatronica automotriz(MEA)</strong>
                    </label>
                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="ARH">
                        <strong>Administracion Recusros Humanos(ARH)</strong>
                    </label>

                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="CON">
                        <strong>Programa de Contadurio(CON)</strong>
                    </label>
                    <label class="box4">
                        <input class="checks" type="checkbox" name="direccion" value="IFF">
                        <strong>Programa de Ingeneria Fiscal(IFF)</strong>
                    </label>

                    </div>

                    <div>
                        <button class="btn">
                            Registrar
                        </button>
                        <a href="javascript:history.back()" class="btn">Volver</a>
                    </div>

                </form>

            </div>

        </section>

    </div>

</section>